path {
    transform-origin: 50% 0%;
}

.background--custom {
    background: linear-gradient(90deg, #ffffff, #724DE7, #000000);
    background-size: 300% 300%;
    animation: gradient 4s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes path0 {
    0% {
        transform: rotate(-60deg);
    }

    100% {
        transform: rotate(60deg);
    }
}

@keyframes path1 {
    0% {
        transform: rotate(-60deg);
    }

    100% {
        transform: rotate(60deg);
    }
}

@keyframes path2 {
    0% {
        transform: rotate(40deg);
    }

    100% {
        transform: rotate(-40deg);
    }
}

@keyframes path3 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(-40deg);
    }

}